.info {
	border: 2px lightgray solid;
	font-size: 12px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    width:500px;
    max-width:500px;
}

p {
    font-family: "Roboto";
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;

}

.random {
    font-size: 12px;
    padding-left: 15px;
    padding-right: 10px;
}

/*div {
    margin: auto;
    width: 60%;
    padding: 10px;
}*/

input {
    width: 300px;
    max-width: 300px;
    text-align: center;
}


 @media (max-width: 400px) {

  .flex-container{
    margin: auto;
    max-width: 80%;
    padding: 20px;
  }

  .info {
    width:80%

  }

 }
