.container {
	padding-right: 45px;
    padding-left: 45px;
    margin-right: auto;
    margin-left: auto;
}

input {
	margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 400px;
}

